<div id="<%= dom_id course %>">
  <p>
    <%= link_to course.name, course %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= course.body %>
  </p>

  <p>
    <strong>Summary:</strong>
    <%= course.summary %>
  </p>

</div>
