<div id="<%= dom_id course %>">
  <p>
    <strong>Name:</strong>
    <%= course.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= description_button(course.description) %>
  </p>

  <p>
    <strong>Summary:</strong>
    <%= course.summary %>
  </p>

</div>
